.form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.image-preview {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
